.form {
	display: flex;
	gap: 12px;
	height: 48px;
	width: 100%;
}

.label {
	position: relative;
	width: 100%;
}

.glass {
	fill: var(--grey-color);
	width: 25px;
	height: 25px;
	position: absolute;
	right: 12px;
	top: 12px;
}

.formButton {
	width: 210px;
	height: 48px;
	border: 1px solid var(--grey-color);
	background-color: var(--white-color);
}

@media (max-width: 800px) {
	.formButton {
		font-size: 1.2rem;
	}
	.glass {
		display: none;
	}
}
