.todoAppContainer {
	font-family: 'Rubik', sans-serif;
	height: 100vh;
	width: 55vw;
	padding-top: 65px;
	--blue-color: #29abe2;
	--grey-color: #b4b4b4;
	--white-color: #fff;
	--black-color: #000;
}

@media (max-width: 800px) {
	.todoAppContainer {
		width: 90vw;
	}
}
